.App {
  text-align: center;
}

.window {
  background-color: #dbdbdb;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.container {
  position: relative;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  width: 700px;
  margin: 10px auto 10px auto;
  align-items: center;
  text-align: center;
}

.App-link {
  color: #6a43a8;
}