.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.window {
  background-color: #abb1f8;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.container {
  position: relative;
  padding-left: 5%;
  padding-right: 5%;
  width: 700px;
  margin: 10px auto 10px auto;
  border: 2px dotted #333333;
  align-items: center;
  text-align: center;
}

.App-link {
  color: #6a43a8;
}